html,body
{
	background-color:#6E6E6E;
	font-size: 62.5%;
	font-family:'Dosis',sans-serif;
}
h1
{
	color:#FFE9FC;
	font-family:'Dosis',sans-serif;
	font-size:3.5rem;
}
a
{
	color:#FFE9FC;
	font-family:'Dosis',sans-serif;
}
.normText1
{
	color:#FFE9FC;
	font-family:'Dosis',sans-serif;
	font-size:2.5rem;
	padding-left:35rem;
	padding-right:35rem;
}
.normText2
{
	color:#8CD1FF;
	font-family:'Dosis',sans-serif;
	font-size:2.5rem;
	padding-left:35rem;
	padding-right:35rem;
}
#menuList1
{
	font-size:5rem;
	font-family:'Dosis',sans-serif;
	width:256px;
	height:256px;
	position:fixed;
	right:0;
	top:0;
}
#menuList2
{
	font-size:5rem;
	font-family:'Dosis',sans-serif;
	width:256px;
	height:256px;
	position:fixed;
	left:0;
	top:0;
}
#menuList3
{
	font-size:5rem;
	font-family:'Dosis',sans-serif;
	width:256px;
	height:256px;
	position:fixed;
	left:0;
	bottom:0;
}
#menuList4
{
	font-size:5rem;
	font-family:'Dosis',sans-serif;
	width:256px;
	height:256px;
	position:fixed;
	right:0;
	bottom:0;
}