html,body
{
	background-color:#6E6E6E;
	font-size: 62.5%;
}
div
{
	padding-left:15rem;
	padding-right:15rem;
	position:relative;
	margin-top:10rem;
}
h1
{
	color:#FFE9FC;
	font-family:'Dosis',sans-serif;
	font-size:3.5rem;
}
a
{
	color:#FFE9FC;
	font-family:'Dosis',sans-serif;
	font-size:5rem;
	padding-left:7.5rem;
	text-align:right;
}
.normText1
{
	color:#FFE9FC;
	font-family:'Dosis',sans-serif;
	font-size:2.5rem;
}
.normText2
{
	color:#8CD1FF;
	font-family:'Dosis',sans-serif;
	font-size:2.5rem;
}
#menuContainer
{
    position:fixed;
    left:0;
    top:0;
    width: 100%;
	background-color:#DF7401;
}
#menuList
{
    list-style-type:none;
}
#menuList>li
{
    float:left;
	font-size:5rem;
	font-family:'Dosis',sans-serif;
}